NEXT_PUBLIC_BASE_URL=https://www.purplestock.com.br
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-XXXXXXXXXX
NEXT_PUBLIC_WHATSAPP_URL=https://wa.me/5511995597242
NEXT_PUBLIC_CALENDLY_URL=https://calendly.com/matheus-puppe/purple-stock
