@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #9333e9;
  --secondary-color: #7928ca;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-y: auto;
}

html {
  overflow-y: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
